.loading-area{
    background-color: #FFF;
    border-radius: 20px !important;
    margin-left: 5%;
    margin-right: 5%;
    height: 30%;
    text-align: center;
}
.loading-text{
    color: #000;
    font-size: 15px;
    text-align: center;
}
.loading-image{
    height: 80px;
    width: 80px;
    padding-top: 20px;
}