.data-table {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19)!important;
    border-radius: 15px;
}
.data-table-title{
    color: #0095af;
}
#demo-dt-basic_paginate {
    text-align: right;
 }
.data-table-pagination .pagination{
    margin: 5px 0;
}
#demo-nifty-settings{
    display: none;
}